@media (max-width: 800px){
    #mobile{
        display: block;
    }
    #desktop{
        display: none;
    }
    #page-wrapper{
        margin-left: 0;
        padding-top: 0;
    }
    #page-wrapper h1.section-title{
        margin-left: 90px;
        margin-top: 16px;
    }
    #page-wrapper h1.section-title::after{
        display: none!important;
    }
    .summary > div{
        flex: 0 1 45%;
        margin-bottom: 10px;
    }
    details.card{
        width: 100%;
    }
    i.refresh{
        width: 24px;
        height: 24px;
        margin: 0 15px 15px 15px;
    }
    #universidades :is(h3,p) {
        padding: 0 10px;
    }
}