a{
    text-decoration: none!important;
    color: unset!important;
}
.link{
    text-decoration: underline!important;
    transition: color .4s ease;
}
.link:hover{
    color: var(--azul)!important;
}
body{
    background-color: #fff;
}
body, header, main, footer{
    z-index: 1;
    user-select: text;
    -moz-user-select: none;
    -webkit-user-select: none;
    overflow-x: hidden;
}
img{
    max-width: 100%;
    max-height: 100%;
}
#goTop{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    bottom: 80px;
    right: 0;
    margin: 10px;
    border-radius: 100%;
    background-color: var(--light);
    transition: all .8s;
}
.gotop-visible{
    opacity: 1;
    cursor: pointer;
}
.gotop-invisible{
    opacity: 0;
    cursor: context-menu;
}
#toggle-nav{
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    z-index: 8;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#toggle-nav.hamburguer.is-active{
    border: none;
}
#toggle-nav > .line{
    width: 24px;
    height: 4px;
    border-radius: 4px;
    display: block;
    background-color: black;
    margin: 2px auto;
    transition:         all 0.3s ease-in-out;
    -moz-transition:    all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition:      all 0.3s ease-in-out;
}
.hamburguer.is-active .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburguer.is-active .line:nth-child(2) {
    opacity: 0;
}
.hamburguer.is-active .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/**************************************/ 
/***************  MENU  ***************/ 
/**************************************/    
#menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    flex-basis: content;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    background-color: var(--verde);
    text-align: center;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hamburguer.is-active ~ #menu{
    clip-path: circle(75%);
}
#menu > a{
    font-size: 1.8em;
    transition: all .4s;
}
#menu > a:hover{
    transform: scale(1.2);
    color: var(--azul)!important;
}
#menu > a:not(:last-child){
    margin-bottom: 24px;
}
/* HEADER */
header{
    position: sticky;
    top:0;
    width: 100vw;
    height: 90px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fff;
}
header > img.logo{
    border: 12px solid transparent;
}
h1{
    font-size: 1.5em;
    margin: 0!important;
}
/**************************************/ 
/***************  MAIN  ***************/ 
/**************************************/ 
section{
    width: 100%;
    /* margin: 0 0 50px 0; */
    /* margin: 50px 16px; */
}
.section-title{
    text-align: center;
}

/* ------------> INICIO */
#inicio{
    width: 100%;
    height: calc(70vh - 90px);
    display: flex;
    justify-content: stretch;
    margin-top: 50px; /* 90 from header and 50 from container*/
    margin-bottom: 50px;
}
#inicio > .inicio-info{
    flex-basis: 60%;
    align-self: center;
    padding: 0 80px;
}
.inicio-info > h2{
    font-size: 3em;
}
.inicio-info > span > a{
    text-decoration: underline!important;
    color: var(--azul);
}
#inicio > .inicio-img{
    flex-basis: 40%;
}
#inicio .inicio-img > img{
    width: 80%;
}
#inicio .botonera > a:first-child{
    margin-right: 10px;
}
#inicio .botonera a img{
    height: 40px;
}

/* ------------> STATS */
#stats{
    background-color: var(--verde);
    padding-top: 0;
    padding-bottom: 0;
}
.stats-container{
    display: flex;
    justify-content: space-around;
    margin: 0 30px;
    align-items: stretch;
}
.stat{
    text-align: center;
    padding: 30px 0;
    color: var(--dark);
}
.stat > h4{
    font-weight: bold;
    font-size: 2.4em;
}
.stat p{
    margin: 0;
    font-size: 1em;
}

/* ------------> CONOCENOS */
.conocenos-info{
    display: flex;
    justify-content: stretch;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 30px;
    min-height: calc(100vh - 90px);
}
.conocenos-info-txt{
    flex-basis: 60%;
}
.conocenos-info-txt > h4{
    margin: 18px 0;
}
.conocenos-info-img{
    flex-basis: 40%;
}
.beneficios-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    row-gap: 20px;
}
.card-beneficios{
    flex-basis: calc(50% - 10px);
    height: 130px;
    border-radius: 10px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    background-color: var(--light);
    text-align: center;
    position: relative;
}
.card-beneficios .card-info{
    transition: all .5s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.card-beneficios > :not(.card-bio){
    transition: all .5s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.card-beneficios .card-bio{
    text-align: center;
    padding: 16px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100%;
    transition: all .3s cubic-bezier(.6,.4,0,1);
}
.card-beneficios:hover .card-info {
    opacity: 0;
}

.card-beneficios:hover .card-bio {
    top: 0;
    opacity: 1;
}
   

/* ------------> OPINIONS */
#opiniones{
    min-height: 40vh;
}
#card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    align-items: stretch;
    margin-top: 28px;
}
.card-custom{
    flex-basis: 28%;
    /* background-color: var(--intermedio); */
    background-image: url('../img/triangles.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    padding: 8px;
    filter: drop-shadow(2px 2px 8px rgba(0,0,0,.2));
}
.card-custom > .cite{
    padding-left: 8px;
}
.card-custom cite{
    text-align: left;
    padding-left: 12px;
}
.card-user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}
.card-user > img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
}
.card-user-info > p{
    margin: 0;
}

/* ------------> DESTINOS Y UNIVERSIDADES */
#destinos{
    margin-top: 90px;
    border-top: 120px solid var(--light);
    border-bottom: 80px solid var(--light);
    background-color: var(--light);
    color: var(--black);
}
#destinos h3::after{
    content:'';
    display: block;
    height: 3px;
    width: 60px;
    background-color: var(--azul);
    margin: 8px auto 14px auto;
}
#destinos > .controls{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.controls > button{
    margin-right: 30px;
    transition: all .3s;
}
.controls > button:hover{
    color: var(--azul);
}
#destinos :is(.prev, .next){
    display: inline;
    fill: var(--black);
    width: 48px;
    cursor: pointer;
}
#universidades{
    width: 80%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 20px;
    scroll-behavior: smooth;
    transition: all .6s;
}
#universidades.verTodas{
    flex-wrap: wrap;
    overflow-x: unset;
    animation: verTodas .4s 1;
}
@keyframes verTodas {
    from { opacity: 0; }
    to { opacity: 1; }
}
#universidades::-webkit-scrollbar {
    display: none;
}
#universidades::-webkit-scrollbar-track {
    display: none;
}
#universidades::-webkit-scrollbar-thumb {
    display: none;
}

.universidad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-basis: calc(33% - 15px);
    flex-shrink: 0;
    height: 254px;
    background: #f5f5f5;
    border-radius: 12px;
    padding: 2rem 0 0 0;
    transition: box-shadow .3s ease, transform .2s ease;
}
.uni-info {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
}

/*Image*/
.uni-avatar {
    --size: 80px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
}
.uni-avatar::after{
    content: '';
    display: block;
    border-radius: 100%;
    margin: 10px auto;
    width: 70px;
    height: 3.5px;
    background: linear-gradient(to right, lightgray, #555, lightgray);;
    filter: blur(1px);
}


/*Text*/
.uni-title {
    color: #333;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;
}

.uni-subtitle {
    color: #859ba8;
    font-size: 0.8em;
}

.uni-community{
    width: 100%;
    line-height: 2.5em;
    background-color: var(--verde);
    text-align: center;
    border-radius: 0  0 12px 12px;
}
.uni-community > svg{
    fill: var(--azul);
}
/*Hover*/
.universidad:hover {
    box-shadow: 0 8px 40px #23232333;
}

.universidad:hover .uni-info {
    transform: translateY(-5%);
}

.uni-avatar:hover {
    transform: scale(1.1);
}

/* CONTACTO */

/* SUSCRIBE */
#suscribe{
    margin: 50px 0 0 0;
    padding-top: 50px;
}
#suscribe > sub{
    padding: 20px;
}
.suscribe-container{
    margin: 40px 10% 0 10%;
    padding: 10px;
    border: 2px solid var(--black);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.suscribe-container > *{
    padding: 10px;
}
.suscribe-container > .suscribe-img{
    flex-basis: 35%;
}
.suscribe-container > .suscribe-txt{
    flex-basis: 65%;
}
.suscribe-container h2{
    font-size: 1.5em;
    font-weight: 500;
    line-height: 32px;
    margin: 5px 0;
}
.suscribe-container p{
    margin: 20px 0;
}

#suscriptionForm > .suscriptionForm-form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
#suscriptionForm input{
    height: auto;
    font-size: 1rem;
    display: block;
    width: 60%;
    padding: 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#suscriptionForm input::placeholder {
    color: #6c757d;
}
#suscriptionForm input:focus {
    color: #000000;
    background-color: #fff;
    border-color: var(--verde);
    outline: 0;
    box-shadow: 0 0 10px 0.25rem var(--light);
}
#suscriptionForm input:not(:placeholder-shown).emailInvalid{
    border-color: tomato;
    box-shadow: 0 0 10px 0.25rem rgba(255, 99, 71, 0.6);
}
#suscriptionForm button{
    display: inline-block;
    cursor: pointer;
    width: auto;
    height: 50px;
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem;
    border: none;
    color: var(--dark);
    background-color: var(--verde);
    
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;
}
#suscriptionForm button.disabled{
    cursor: auto;
    color: #fff;
    background-color: var(--dark);
}
#submitErrorMessage, #submitSuccessMessage{
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    flex-wrap: nowrap;
    text-align: left;
}
.unsuscribe-link{
    width: 75%;
    margin:0 auto;
    text-align: right;
    font-size: small;
}
.unsuscribe-link > a:hover{
    color: var(--azul)!important;
}
/* OTHER APPS */
#other_apps{
    margin-top: 50px;
    padding: 50px 0;
    background-color: var(--verde);
    color: var(--black);
}
#other_apps > div{
    width: 85%;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}
#other_apps > div > a{
    width: 200px;
    height: auto;
}
/* FAQ */
#faq{
    padding: 8rem 4rem 2rem 4rem;
    width: 60%;
    margin: 0 auto;
}
#faq .faq-item {
    border: none;
    border-bottom: 1px solid lightgray;
}
#faq .faq-item button[expanded='true'] {
    border-bottom: 1px solid var(--azul);
}
#faq button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: var(--black);
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}
#faq button:hover, #faq button:focus {
    cursor: pointer;
    color: var(--azul);
}
#faq button:hover::after, #faq button:focus::after {
    cursor: pointer;
    color: var(--azul);
    border: 1px solid var(--azul);
}
#faq button .faq-title {
    padding: 1em 1.5em 1em 0;
}
#faq button .faq-icon {
    display: inline-block;
    position: absolute;
    content: '';
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}
#faq button .faq-icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}
#faq button .faq-icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
    transition: all .4s;
}
#faq button[expanded='true'] {
   color: var(--azul);
}
#faq button[expanded='true'] .faq-icon::after {
    transform: rotate(90deg);
}
#faq button[expanded='true'] + .faq-content {
    opacity: 1;
    max-height: 18em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}
#faq .faq-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}
#faq .faq-content p {
    margin: 1.2em 0.5em;
}

/* STARS */
#stars > div{
    margin: 20px;
    padding: 0 60px;
}
/**************************************/ 
/**************  FOOTER  **************/ 
/**************************************/ 
footer {
    background-color: var(--verde);
    padding-top: 80px;
    padding-bottom: 40px;
}
footer a:hover, footer p#openModal:hover {
    color: var(--azul)!important;
}
/*END FOOTER SOCIAL DESIGN*/
.single_footer h4 {
    
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}
.single_footer h4::after {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background-color: var(--azul);
    margin-top: 20px;
}
.single_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.single_footer ul li a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 36px;
    font-size: 15px;
    text-transform: capitalize;
}
.single_footer_address ul li span {
    font-weight: 400;
    line-height: 28px;
}
.contact_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

/*START SOCIAL PROFILE CSS*/
.social_profile {margin-top:40px;}
.social_profile ul{
list-style: outside none none;
margin: 0;
padding: 0;
}
.social_profile ul li{float:left;}
.social_profile ul li a {
    text-align: center;
    border: 0px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin: 0px 5px;
    font-size: 18px;
    border-radius: 30px;
    border: 1px solid var(--azul);
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    color: var(--azul)!important;
}
.social_profile i{
    color: var(--azul);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_profile ul li a:hover{
    background-color: var(--azul);
    color: var(--white)!important;
}
.social_profile ul li a:hover > i{
    color: var(--white);
}
/*END SOCIAL PROFILE CSS*/
#copyright {
    margin-top: 70px;
    padding-top: 40px;
    font-size: 15px;
    border-top: 1px solid rgba(3,3,3,0.4);
    text-align: center;
}

/* The Modal (background) */
#openModal{
    cursor: pointer;
    line-height: 36px;
    margin: 0;
}
.myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .myModal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 4px;
  }
  
  /* The Close Button */
  #closeCreditos {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all .3s;
    line-height: 21px;
  }
  
  #closeCreditos:hover,
  #closeCreditos:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .listado-creditos li a{
    color: var(--verde)!important;
  }
  .listado-creditos li a:hover{
    text-decoration: underline!important;
  }